.primary-background {
    /* width: 100%; */
    margin: 0;
    background-color: #121212;
}

/* .secondary-background {
    width: 100%;
    background-image: url(../public/Path\ 30.svg);
    background-size: cover;
} */

/* .section {
    width: 100%;
} */

.row {
    width: 100%;
    margin: 0;
}

.title {
    margin-top: 12rem;
    /* width: 100%; */
    text-align: center;
    margin-bottom: 5rem;
}

.title h3 {
    font-size: 80px;
    color: #7CA9BB;
    font-family: 'Roboto', sans-serif;
}

.title p {
    font-size: 25px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

.title button {
    margin-top: 4rem;
    width: 12rem;
    height: 4rem;
    background-color: #7CA9BB;
    border: 0;
    border-radius: 20%/50%;
    color: #FFFFFF;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

.img1 {
    margin-top: 8rem;
    max-width: 50rem;
    text-align: center;
}
.img1 img{
    width: 90%;
    /* margin: 0 5% 0 5%; */
}

.about {
    margin-top: 6rem;
}

.about img {
    width: 80%;
    /* margin-left: -100%; */
    max-width: 20rem;
    display: block;
    margin-right: auto;
    margin-left: auto;

}

.about h3 {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    margin-bottom: 6rem;
    text-align: center;
}

.about h3 span {
    color: #7CA9BB;
}

.desc {
    /* width : 80%; */
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-top: 4rem;
    text-shadow: #707070;
    /* text-align: center; */
}

.desc h3 {
    font-size: 2.5rem;
    color: #A6E6FF;
    margin-top: 3rem;
    text-align: center;
}

.coming-soon {
    width: 100%;
}

.coming-soon img {
    width: 70%;
    margin-bottom: 4rem;
    margin-left: 4rem;
    min-width: 15rem;
}

@media (max-width:768px){
    .secondary-background{
        background-image: url(../public/Path\ 296.svg);
        background-position: right;
    }
}

@media (min-width:769px){
    .secondary-background {
        /* width: 100%; */
        background-image: url(../public/Path\ 30.svg);
        background-size: cover;
    }
}

.bg-grad {
background: rgb(94,104,156);
background: -moz-linear-gradient(0deg, rgba(94,104,156,1) 0%, rgba(124,169,187,1) 100%);
background: -webkit-linear-gradient(0deg, rgba(94,104,156,1) 0%, rgba(124,169,187,1) 100%);
background: linear-gradient(0deg, rgba(94,104,156,1) 0%, rgba(124,169,187,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5e689c",endColorstr="#7ca9bb",GradientType=1);
}